<app-header></app-header>
<main class="BgContactus">
    <section class="container BoderPoint">
        <div class="row">
            <div class="col-12">
                <a href="/#/userprofile"><img class="CloseIcon" src="/assets/img/Vector-Close.svg"/></a>
            </div>
            <div class="col-12 text-center">
                <a href="/#/contactus"><img class="" src="/assets/img/LOGO LADV 2-white.svg"/></a>
            </div>
            <div class="col-12  ">
                <p class="HelloText">Hello!</p>
                <p class="HelpYou">How can we help you?</p>
            </div>
        </div>       
    </section>
    <section class="container ">
        <div class="row">
            <div class="col-12 text-center pt-4">
                <a href="/#/contactus"><img class="" src="/assets/img/message_icon.svg"/></a>
            </div>
            <div class="col-12 text-center pt-2">
                <p class="TouchLocal">Get in touch  with local expert</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center pt-4">
                <a href="/#/contactus"><img class="" src="/assets/img/whatsapp_icon.svg"/></a>
            </div>
            <div class="col-12 text-center pt-2">
                <p class="TouchLocal">Call Us    +34 697 24 30 36</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12   text-center pt-4">
                <a href="/#/contactus"><img class="" src="/assets/img/letter_envelope_icon.svg"/></a>
            </div>
            <div class="col-12 LastMagnBtom text-center pt-2">
                <p class="TouchLocal">Email us</p>
            </div>
        </div>

    </section>
    <section class="container m-auto">
        <div  class="row text-center  ProfileStylee fixed">
            <div  class="col-md-5 col-sm-12">
                <a  routerlinkactive="active" routerlink="/contactus" class="btn btn-primary02 btn-lg" ng-reflect-router-link="/contactus" ng-reflect-router-link-active="active" href="#/contactus">Your experience feedback </a>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>