<app-header></app-header>
<main>
    <!-- <section class=" topBarWelcomeStart1 ">
        <div class="container">
            <div class="row slectionSpcl ">
            <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                <a routerLink="/start1" ><img src="/assets/img/left-arrow.png " width="15px"></a>
            </div>
            <div class="col-md-8 backgroundClorActivity pl-0  ">
                <p class="text-left SubTotal ">Price</p>
                <b class="FlotRight">150 € &nbsp; </b>
                <img src="/assets/img/arrow-down-black.svg">&nbsp;&nbsp;
                
            </div>
           
        </div>
        </div>
    </section> -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><img class="img-fluid" src="/assets/img/m MENU.svg" alt="..." /></button>

            <a class="navbar-brand " href="#page-top">
            <img class="img-fluid" src="/assets/img/LOCALADVISOR 1 1.svg" alt="..." />
            </a>
            <p  class="mb-0"><img class="img-fluid" src="/assets/img/Globe-Blck.svg" alt="..." />EN</p>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#!">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container TopGap ">
        <div class="row GaapBtMT">
            <div class="col-3 m-auto">
                <div class="LeftImagesUser">
                    <img class="img-fluid" src="/assets/img/Globe-Blck.svg" width="100%" alt="..." />
                </div>
            </div>
            <div class="col-6 m-auto">
                <p class="Alexatext">Alexa Ashbridge </p>
                <p class="CityText">England </p>
                <p class="CityText">Family menbers 3 </p>

            </div>
            <div class="col-3 m-auto">
                <button type="button" class="EditBtnClor btn btn-light">Edit</button>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row GaapBtMT">
            <div class="col-6 ">
                <p class="SeccondText">Accommodation</p>
                <p class="AddreSsText">Address</p>
            </div>
            <div class="col-6 m-auto">
                <p class="SeccondText">Use your location</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Gender</p>
                <p class="NotText">Not specified</p>
            </div>
            
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Date of birth</p>
                <p class="NotText">July 01, 1995</p>
            </div>
            
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Email address</p>
                <p class="NotText">aaa@gmail.com</p>
            </div>
            
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Phone number</p>
                <p class="NotText"> +57  30023456789</p>
            </div>
            
        </div>
    </section>
    
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Goverment ID</p>
                <p class="NotText">Not provided</p>
            </div>
            
        </div>
    </section>
    <section class="container">
        <div class="row ">
            <div class="col-12 ">
                <p class="SeccondText">Emergency contact</p>
                <p class="NotText"> Not provided</p>
            </div>
            
        </div>
    </section>
    <section class="container LastMagnBtom">
        <div class="row ">
            <div class="col-10 ">
                <p class="SeccondText">Payment method </p>
                <p class="NotText">Visa</p>
                
            </div>
            <div class="col-2 m-auto ">
                <p class= " NotText AddreSsText">Add</p>
            </div>
            
            
        </div>
    </section>
    <section class="container m-auto">
        <div  class="row text-center NEwBoxSame ProfileStylee fixed">
            <div  class="col-md-5 col-sm-12">
                <a  routerlinkactive="active" routerlink="/contactus" class="btn btn-primary01 btn-lg" ng-reflect-router-link="/contactus" ng-reflect-router-link-active="active" href="#/contactus">Contact us / Feedback </a>
            </div>
        </div>
        
    </section>
    <section class="container m-auto">
        <div  class="row text-center  ProfileStylee fixed">
            <div  class="col-md-5 col-sm-12">
                <a  routerlinkactive="active" routerlink="/mytrip" class="btn btn-primary btn-lg" ng-reflect-router-link="/mytrip" ng-reflect-router-link-active="active" href="#/mytrip">My schedule & tickets </a>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
