.slection {
    display: flex;
    flex-wrap: initial;
}


#portfolio{
    
    margin-top: 70px;
}
.SlectAndAdd {
    display: flex;
    flex-wrap: initial;
}
.caption {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    padding: 5px;
    height: 64px;
    
}
p.TopRightListShow{
    font-size: 14px;
}
.slection p{
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
}
.caption:hover {
    border: 2px solid #00BEAC;
    
    
}
.caption:visited {
    color: rgb(255, 255, 255);
    background-color:red;
    box-shadow: rgb(0, 190, 172) 0px 3px 19px -5px, rgba(0, 0, 0, 0.1) 0px 1px 0px 1px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 190, 172);
    border-image: initial;
    padding: 5px;
}