<app-header></app-header>

<section class=" topBar ">
    <div class="container">
        <div class="row slection  ">
        <div class="col-md-6 col- topLeft">
            <a routerLink="/calendar" ><img src="/assets/img/left-arrow.png "></a>
        </div>
        <div class="col-md-6 col- topRight">
            <p >3<span class="listShow">/8</span></p>
        </div>
    </div>
    </div>
        
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="progress-container">

                    <div class="progress-bar" id="myBar"></div>
                </div>

            </div>

        </div>
        
    </div>
</section>
    
    

    
<section class="content-section" id="portfolio">
        <div class="container ">
            <div class="content-section-heading ">
                <h3 class="text-secondary mb-0"><b>How many people are you traveling with?</b></h3>
                <br>
                <p class="mb-5 tickets">We Will need this to check tickets and to adapt the experiences especially for you need. you can edit it later if you want to.</p>
                <br>
            </div>
            <div class ="m-auto">
                <div  class ="row slection ">
                <div class="col-md-6 col-sm-6  ">
                    
                        <div onclick="myFunction()" class="caption">
                            
                            <p  class="fontSize text-center innerTextClor"><b>Alone</b></p>
                        </div>
                        
                    
                </div>
                
                <div class="col-md-6  col-sm-6 ">
                    
                        <div class="caption">
                            
                            <p class="fontSize text-center innerTextClor"><b>Couple</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <div class="row slection ">
                <div class="col-md-6  ">
                    
                        <div class="caption">
                            
                            <p class="fontSize text-center innerTextClor"><b>Family</b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-6 ">
                    
                        <div class="caption">
                            
                            <p class="fontSize text-center innerTextClor"><b>Friends</b></p>
                            
                        </div>
                        
                    
                </div>
                
                
                
                
            </div>
            <div class="" id="myDIV">
                <div class="myadd">
                    <div class="row SlectAndAdd m-auto">
                        <div class="col-md-5">
                            <b class="adult">Adults > 18</b>
                        </div>
                        <div class="col-md-2">
                            <b  class="Middleone">1</b>
                        </div>
                        <div class="col-md-5 AddOrSub">
                            <div class="SubtractAdd">
                                <button class=" btnBeauty m-0 p-0">-</button>

                                
                            </div>
                            <div class="SubtractAdd02">
                                
                                <button class=" btnBeauty m-0 p-0">+</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="myadd01">
                    <div class="row SlectAndAdd m-auto">
                        <div class="col-md-5">
                            <b class="adult01">Teen</b>
                        </div>
                        <div class="col-md-2">
                            <b class="Middleone">-</b>
                        </div>
                        <div class="col-md-5 AddOrSub">
                            <div class="SubtractAdd">
                                <button class=" btnBeauty m-0 p-0">-</button>

                                
                            </div>
                            <div class="SubtractAdd02">
                                
                                <button class=" btnBeauty m-0 p-0">+</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="myadd02">
                    <div  class="row SlectAndAdd m-auto">
                        <div class="col-md-5">
                            <b class="adult01" >Kids < 10</b>
                        </div>
                        <div class="col-md-2">
                            <b class="Middleone">-</b>
                        </div>
                        <div class="col-md-5 AddOrSub">
                            <div class="SubtractAdd">
                                <button class=" btnBeauty m-0 p-0">-</button>

                                
                            </div>
                            <div class="SubtractAdd02">
                                
                                <button class=" btnBeauty m-0 p-0">+</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="myadd03">
                    <div class="row SlectAndAdd m-auto">
                        <div class="col-md-5">
                            <b class="adult01">Seniors > 65</b>
                        </div>
                        <div class="col-md-2">
                            <b class="Middleone">-</b>
                        </div>
                        <div class="col-md-5 AddOrSub">
                            <div class="SubtractAdd">
                                <button class=" btnBeauty m-0 p-0">-</button>

                                
                            </div>
                            <div class="SubtractAdd02">
                                
                                <button class=" btnBeauty m-0 p-0">+</button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

            </div>
            
            </div>

            <div class="row lastBtn nextbttn fixed">
                <div class="col-md-5 col-sm-12">
                    <a class="btn btn-primary btn-lg " routerLink="/barcelona" >Next</a>
                </div>
            </div>
            

        </div>

       

    </section>

    
    
    
    
   
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    

    <!--Traveling -->
    <script>
function myFunction() {
var x = document.getElementById("myDIV");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script> 

<app-footer></app-footer>