.slection {
    display: flex;
    flex-wrap: initial;
}


#portfolio{
    
    margin-top: 70px;
}
.SlectAndAdd {
    display: flex;
    flex-wrap: initial;
}
.caption {
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    padding: 5px;
    height: 64px;
    
}
p.TopRightListShow{
    font-size: 14px;
}
.slection p{
    margin: 0;
    
    font-weight: 400;
    font-size: 16px;
}
.caption:hover {
    border: 2px solid #00BEAC;
    
    
}