<app-header></app-header>

<section class=" topBar ">
    <div class="container">
        <div class="row slection ">
        <div class="col-md-6 col- topLeft">
            <a routerLink="/discover" ><img src="/assets/img/left-arrow.png "></a>
        </div>
        <div class="col-md-6 col- topRight">
            <p>7<span class="listShow">/8</span></p>
        </div>
    </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="progress-container">

                    <div class="progress-bar" id="myBar"></div>
                </div>

            </div>

        </div>
        
    </div>
</section>
    
<section class="content-section" id="portfolio">
        <div class="container ">
            <div class="content-section-heading ">
                <h3 class="text-secondary mb-0"><b>What's your estimate budget?</b></h3>
                <br>
                <p class="mb-5 later">You can edit it later.</p>
                <br>
            </div>
            <div class="m-auto">
                <div class="row slection ">
                <div class="col-md-6 ">
                    
                        <div class="caption">
                            <p  class="text-center innerTextClor"><b class="lowSize">Low cost</b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-6 ">
                    
                        <div class="caption">
                            
                            <p class="text-center innerTextClor"><b class="lowSize">family style</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <div class="row slection ">
                <div class="col-md-6  ">
                    
                        <div class="caption">
                            
                            <p class="text-center innerTextClor"><b class="lowSize">I can indulge </b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-6 ">
                    
                        <div class="caption">
                            
                            <p onclick="myFunction()" class="text-center innerTextClor"><b class="lowSize">Custom</b></p>
                            
                        </div>
                </div>
            </div>

            
            <div class="ShowHide" id="Budget">
                <br>                    
                <h3 class="text-secondary mb-0"><b class="Semibld">make the most of:</b></h3>
                <div class="myBudget">
                    <div class="row SlectAndAdd ">
                        <div class="col-md-12">
                            <form >
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Total budget" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><b>€</b></button>
                  </div>
                </div>
              </form>
              <br>

                        </div>
                        
                        
                    </div>
                    
                </div>
            </div>
            
            </div>

            <div class="row lastBtn nextbttn fixed">
                <div class="col-md-5 col-sm-12">
                    <a class="btn btn-primary btn-lg " routerLink="/loder"  >Get activities!</a>
                </div>
            </div>
            

        </div>

       

    </section>

    
    
    
    
   
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    

    <!--Traveling -->
    <script>
function myFunction() {
var x = document.getElementById("Budget");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script> 

<app-footer></app-footer>
