<app-header></app-header>

    <main class="mainDiv">
    <section class="container">
        <div class="backIcon">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <h3 class="text-secondary mb-0"><b>Barcelona</b></h3>
        <p><b class="tune">Now fine tune your itinerary!</b></p>
    </section>
    <section class="">
            <div class="container ">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class=" bg-light border-0 h-100">
                            <div class="card-body  ">
                                
                                <div class="col-md-3">
                                    <div class="leftImg">
                                        <img src="/assets/img/Familia.png" width="100%">
                                    </div>
                                    
                                    <div class="BestChoice text-center">
                                        <p class="choiceBest">Best Choice!</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="detalAdd">
                                        <p class="fs-4 fw-bold ">Visit to sagrada familia</p>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                          <div class="prices">
                                              <p class="mb-0 adultsDesn" ><b class="dollrSize">150€ </b> / 2 adults, 1teen </p>
                                          </div>
                                        
                                        <button class="btn btnDesign ">Details</button>
                                        <button class="btn btnDesign01">+ Add</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class=" bg-light border-0 h-100">
                            <div class="card-body  ">
                                
                                <div class="col-md-3">
                                    <div class="leftImg">
                                        <img src="/assets/img/camp.png" width="100%">
                                    </div>
                                    <div class="BestChoice text-center">
                                        <p class="choiceBest" >Best Choice!</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="detalAdd">
                                        <p class="fs-4 fw-bold ">Vist to camp Nou</p>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                          <div class="prices">
                                              <p class="mb-0 adultsDesn" ><b class="dollrSize">198€ </b> / 2 adults, 1teen </p>
                                          </div>
                                        
                                        <button class="btn btnDesign ">Details</button>
                                        <button class="btn btnDesign01">+ Add</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class=" bg-light border-0 h-100">
                            <div class="card-body  ">
                                
                                <div class="col-md-3">
                                    <div class="leftImg">
                                        <img src="/assets/img/Gaudiimg.png" width="100%">
                                    </div>
                                    <div class="BestChoice text-center">
                                        <p class="choiceBest">Best Choice!</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="detalAdd">
                                        <p class="fs-4 fw-bold ">Tour "Arte with Gaudi" </p>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                          <div class="prices">
                                              <p class="mb-0 adultsDesn" ><b class="dollrSize">90€ </b> / 2 adults, 1teen </p>
                                          </div>
                                        
                                        <button class="btn btnDesign ">Details</button>
                                        <button class="btn btnDesign01">+ Add</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class=" bg-light border-0 h-100">
                            <div class="card-body  ">
                                
                                <div class="col-md-3">
                                    <div class="leftImg">
                                        <img src="/assets/img/Familia.png" width="100%">
                                    </div>
                                    <div class="BestChoice text-center">
                                        <p class="choiceBest">Best Choice!</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="detalAdd">
                                        <p class="fs-4 fw-bold ">Visit to sagrada familia</p>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                          <div class="prices">
                                              <p class="mb-0 adultsDesn" ><b class="dollrSize">150€</b> / 2 adults, 1teen </p>
                                          </div>
                                        
                                        <button class="btn btnDesign ">Details</button>
                                        <button class="btn btnDesign01">+ Add</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section>
        

    <section class="container m-auto">
                           
        <div class="row  back fixed">
          <div class="col-md-5 col-sm-12">
              <a class="btn btn-primary btn-lg " routerLink="/confirmation"  >Get your schedule!</a>
          </div>
      </div>
      
</section>

</main>

<app-footer></app-footer>
