/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/*welcome*/
.welcome{
    margin-top: 30px;
}
.toptext{
    font-size: 16px;
    font-weight:400;
}
.Login01 {
    color: #fff;
    background-color: #225563;
    border: 2px solid #225563;
    border-radius: 50px;
    width: 100%;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
.Login02 {
    color: #225563;
    background-color: #FFF;
    border: 2px solid #225563;
    border-radius: 50px;
    width: 100%;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
.Login03 {
    color: #225563;
    background-color: #FFF;
    border: 2px solid  #225563;
    border-radius: 50px;
    width: 100%;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
.soclLogin {
    margin: 0px 20px 0 20px;
}
.LastTEXt{
    text-decoration: underline;
    color: #225563;
    font-size: 16px;
}
.backIcon{
    margin-top: 12px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    font-weight: bold;
    border-radius: 6px;
}
.New{
    margin-bottom: 20px;
}
.WelcomePage{
    border-radius: 50px;
}
.lastImg{
    position: relative;
}
.city {
    position: absolute;
    top: 28%;
    display: block;
    border: 1px solid red;
    
}
.topBarWelcome {
    position: fixed;
    width: 100%;
    z-index: 111111111;
    background-color: #fff;
    margin-top: -12px;
    padding: 15px 0px 0px 0px;
}