
<app-header></app-header>

    <section class="container">
        <div class="backIcon">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
    </section>

<section class=" d-flex align-items-center">

            <div class="container welcome px-4 px-lg-5 text-center">

                <img src="/assets/img/icon-logo.png">
                <br>
                <br>
                <!-- <h6 class="mb-1"><b>While we're setting up your schedule,you need to register to keep your trips and tickets safe.</b></h6> -->
                <p class="toptext text-center">While we're setting up your schedule,you need to register to keep your trips and tickets safe.</p>

                <br>

                <div class="soclLogin ">
                
                <div class="m-auto">
                    <div class="row slection">
                    <div class="col-md-4 col- New">
                        
                            <div class="captionNew">
                                <div class="row ">
                                        <a class=" WelcomePage Login01 btn btn-primary btn-lg "  routerLink="/singup"><i class="fa fa-envelope-o" aria-hidden="true"></i> Continue with email</a>
                                </div>
                            </div>
                            
                        
                    </div>
                    <br>
                    <div class="col-md-4  col- New">
                        
                            <div class="captionNew">
                                <div class="row  ">
                                        <a class="WelcomePage Login02 btn btn-primary btn-lg "  routerLink="/singup" ><i class="fa fa-apple" aria-hidden="true"></i> Continue with Apple</a>
                                </div>
                            </div>
                        
                    </div>
                    <br>
                    <div class="col-md-4 col- New">
                        
                            <div class="captionNew">
                                <div class="row  ">
                                        <a class="WelcomePage Login03 btn btn-primary btn-lg "  routerLink="/singup" ><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <br>
                </div>
            </div>

            <section>
                <div class="lastLogin text-center">
                   <a href="#"> <p class="LastTEXt">Already have an account?<b> Log in</b></p></a>
                    
                </div>
            </section>
                <section>
                <div class="lastImg ">
                    <img src="/assets/img/Welcome-login.png" width="100%">
                   
                    
                </div>
            </section>
            
            </div>

        </section>

<app-footer></app-footer>