
<app-header></app-header>

<section class=" topBarWelcome ">
    <div class="container">
        <div class="row slection ">
        <div class="col-md-5 col- topLeft">
            <a routerLink="/loder" ><img src="/assets/img/left-arrow.png " width="15px"></a>
        </div>
        <div class="col-md-2 col- ">
            
        </div>
        <div class="col-md-5 col- topRight">
            
        </div>
    </div>
    </div>
   
    
</section>

<section class=" d-flex align-items-center">

            <div class="container welcome px-4 px-lg-5 text-center">

                <img src="/assets/img/LOGO LADV 2-short.svg">
                <br>
                <br>
                <!-- <h6 class="mb-1"><b>While we're setting up your schedule,you need to register to keep your trips and tickets safe.</b></h6> -->
                <p class="toptext text-center">While we're setting up your schedule,you need to register to keep your trips and tickets safe.</p>

                <br>

                <div class="soclLogin ">
                
                <div class="m-auto">
                    <div class="row slection">
                    <div class="col-md-4 col- New">
                        
                            <div class="captionNew">
                                <div class="row ">
                                        <a class=" WelcomePage Login01 btn btn-primary btn-lg " routerLinkActive="active" routerLink="/singup"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                            width="24" height="24"
                                            viewBox="0 0 172 172"
                                            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M28.66667,28.66667c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v86c0,7.91917 6.41417,14.33333 14.33333,14.33333h114.66667c7.91917,0 14.33333,-6.41417 14.33333,-14.33333v-86c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM28.66667,43h114.66667v7.18066l-57.33333,35.81934l-57.33333,-35.81934zM28.66667,64.514l57.33333,35.81934l57.33333,-35.81934v64.486h-114.66667z"></path></g></g></svg> Continue with email</a>
                                </div>
                            </div>
                            
                        
                    </div>
                    <br>
                    <div class="col-md-4  col- New">
                        
                            <div class="captionNew">
                                <div class="row  ">
                                        <a class="WelcomePage Login02 btn btn-primary btn-lg "  routerLinkActive="active" routerLink="/singup" ><img src="https://img.icons8.com/ios-glyphs/24/000000/mac-os.png"/> Continue with Apple</a>
                                </div>
                            </div>
                        
                    </div>
                    <br>
                    <div class="col-md-4 col- New">
                        
                            <div class="captionNew">
                                <div class="row  ">
                                        <a class="WelcomePage Login03 btn btn-primary btn-lg " routerLinkActive="active" routerLink="/singup" ><img src="https://img.icons8.com/color/24/000000/google-logo.png"/> Continue with Google</a>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <br>
                </div>
            </div>

            <section>
                <div class="lastLogin text-center">
                   <a href="#"> <p class="LastTEXt">Already have an account?<b> Log in</b></p></a>
                    
                </div>
            </section>
                <section>
                <div class="lastImg ">
                    <!-- <div class="city">
                        <img src="/assets/img/Cloud-Shape.png" width="100%">
                    </div> -->
                    <img src="/assets/img/Welcome-login.png" width="100%">
                   
                    
                </div>
            </section>
            
            </div>

        </section>

<app-footer></app-footer>