
<app-header></app-header>
<main class="mainDiv">
    <section class=" topBarMyProfile ">
        <div class="container">
            <div class="row slectionSpcl ">
            <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                <a routerLink="/start1" ><img src="/assets/img/arrow-up-blue.svg " width=""></a>
            </div>
            <div class="col-md-8 backgroundClorBorder pl-0  ">
                <p class="text-left SubTotal MyProfile">My profile</p>
                <b class="FlotRight">2550 € &nbsp; </b>
                <img src="/assets/img/arrow-down-black.svg">&nbsp;&nbsp;
            </div>
        </div>
        </div>
    </section>
    <section class="container SignInLogin ">
        <div class="row topOne">
            <div class=" col-md-6"><h3 class="text-secondary mb-0"><b class="ScheduleText">My schedule</b> </h3></div>
                <div class="col-md-6 text-right"><img src="/assets/img/share-blue.svg"></div>
        </div>
    </section>
    <section>
    
    <div _ngcontent-syy-c121="" class="container ">
        <div _ngcontent-syy-c121="" class="row">
            <div _ngcontent-syy-c121="" class="col-md-12">
                <nav _ngcontent-syy-c121="" aria-label="...">
                    <ul _ngcontent-syy-c121="" class="pagination pagination-lg">
                        <li _ngcontent-syy-c121="" class="page-item disabled">
                            <a _ngcontent-syy-c121="" href="#" tabindex="-1" class="page-link">Day&nbsp;1</a>
                        </li>
                        <li _ngcontent-syy-c121="" class="page-item">
                            <a _ngcontent-syy-c121="" href="#" class="page-link">2</a>
                        </li>
                        <li _ngcontent-syy-c121="" class="page-item">
                            <a _ngcontent-syy-c121="" href="#" class="page-link">3</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">4</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">5</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">6</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">7</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">8</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">9</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">10</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">11</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">12</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">13</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">14</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">15</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">16</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">17</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">18</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">19</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">20</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">21</a></li>
                            <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">22</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
</section>
<section _ngcontent-nmd-c125="" class="container">
    <div _ngcontent-nmd-c125="" class="row">
        <div _ngcontent-nmd-c125="" class="col-md-12 text-center">
            <img _ngcontent-nmd-c125="" src="/assets/img/arrow-up.svg"></div></div>
        </section>
<section class="">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="step">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
        <div class="container px-lg-5">
            <div class="row gx-lg-5">
                <div class="col-lg-12 col-xxl-4 mb-4">
                    <div class="dot">1
                    </div>
                    <div class="card  border-0 h-100">
                        <div class="card-bodyConf  pt-0 ">
                            <div class="col-md-9 LeftSideRadious">
                                <div class="detalAdd">
                                    <p class="fs-4 fw-bold ">Visit to sagrada familia</p>
                                    
                                      <div class="prices">
                                          <p class="mb-0 adultsDesn" ><b class="dollrSize">9:45 - 12:00 </b></p>
                                      </div>
                                      <div class="ButtonTwo">
                                        <button type="button" class="EditBtnOneDetail btn btn-light">Details</button>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-3 bgRadious">
                                <div class="leftImg">
                                    <img class="img-fluid" src="/assets/img/Familia.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 Timetable">
                    <div class="TextTimeShow">
                        <p>12:00 - 12:45 - Break</p>
                    </div>
                </div>
                <div class="col-lg-12 col-xxl-4 mb-4">
                     <div class="dot">2
                     </div>
                    <div class="card  border-0 h-100">
                        <div class="card-bodyConf  ">
                            <div class="col-md-9 LeftSideRadious01">
                                <div class="detalAdd">
                                    <p class="fs-4 fw-bold01 ">Visit to Casa Batllo</p>
                                      <div class="prices">
                                          <p class="mb-0 adultsDesn" ><b class="dollrSize01">12:45 - 14:15 </b>  </p>
                                      </div>
                                      <div class="ButtonTwo01">
                                        <button type="button" class="EditBtnOneDetail btn btn-light">Details</button>
                                        <img src="/assets/img/ticket-white.svg">
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-3 bgRadious01">
                                <div class="leftImg">
                                    <img src="/assets/img/battlo.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 Timetable">
                    <div class="TextTimeShow">
                        <p>12:00 - 12:45 - Break</p>
                    </div>
                </div>
                <div class="col-lg-12 col-xxl-4 mb-4">
                    <div class="dot">3
                     </div>
                    <div class="card  border-0 h-100">
                        <div class="card-bodyConf  ">
                            <div class="col-md-9 LeftSideRadious02">
                                <div class="detalAdd">
                                    <p class="fs-4 fw-bold ">Lunch in EI Disbarat</p>
                                      <div class="prices">
                                          <p class="mb-0 adultsDesn" ><b class="dollrSize">14:30 - 16:00 </b>  </p>
                                      </div>
                                      <div class="ButtonTwo01">
                                        <button type="button" class="EditBtnOneDetail btn btn-light">Details</button>
                                        <img src="/assets/img/ticket-white.svg">
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-3 bgRadious02">
                                <div class="leftImg">
                                    <img src="/assets/img/disbarat.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 Timetable">
                    <div class="TextTimeShow">
                        <p>12:00 - 12:45 - Break</p>
                    </div>
                </div>
                <div class="col-lg-12 col-xxl-4 mb-4">
                    <div class="dot">4
                     </div>
                    <div class="card  border-0 h-100">
                        <div class="card-bodyConf  ">
                            <div class="col-md-9 LeftSideRadious02">
                                <div class="detalAdd">
                                    <p class="fs-4 fw-bold ">Visit to sagrada familia</p>
                                      <div class="prices">
                                          <p class="mb-0 adultsDesn" ><b class="dollrSize">9:45 - 12:00 </b>  </p>
                                      </div>
                                      <div class="ButtonTwo01">
                                        <button type="button" class="EditBtnOneDetail btn btn-light">Details</button>
                                        <img src="/assets/img/ticket-white.svg">
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-3 bgRadious02">
                                <div class="leftImg">
                                    <img src="/assets/img/Familia.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 Timetable">
                    <div class="TextTimeShow">
                        <p>12:00 - 12:45 - Break</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container nextbttn fixed  ">
        <div class="soclLogin">
            <div class="m-auto">
                <div class="row slection ">
                    <div class="col-md-4 col- ">
                        <div _ngcontent-beo-c125="" class="col-md-12 text-center"><img _ngcontent-beo-c125="" src="/assets/img/arrow-down.svg"></div>
                            <div class="captionlkj">
                                <div class="row  m-auto">
                                        <a id="Confirmation" class="btn btn-primary btn-lg "routerLinkActive="active" routerLink="/tickets" >My Trips / Tickets & maps </a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>