<app-header></app-header>


<section class=" topBar ">
    <div class="container">
        <div class="row slection ">
        <div class="col-md-6 col- topLeft">
            <a routerLink="/interest" ><img src="/assets/img/left-arrow.png "></a>
        </div>
        <div class="col-md-6 col- topRight">
            <p>6<span class="listShow">/8</span></p>
        </div>
    </div>
    </div>
        
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="progress-container">

                    <div class="progress-bar" id="myBar"></div>
                </div>

            </div>

        </div>
        
    </div>
</section>
    
<section class="content-section" id="portfolio">
        <div class="container ">
            <div class="content-section-heading ">
                <h3 class="text-secondary mb-0"><b>What do you want to discover!</b></h3>
                <br>
                <p class="mb-5"></p>
                <br>
            </div>
            <div class="m-auto">
                <div class="row slection ">
                <div class="col-md-4 ">
                        <div  class="caption text-center">
                            
                                <img class="img-fluid" src="/assets/img/basics.svg">
                            <p  class="text-center innerTextClor"><b>The bare basics</b></p>
                        </div>
                </div>
                <div class="col-md-4 pr-0 pl-0 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/gems.svg">
                            <p class="text-center innerTextClor"><b>Hidden Gems</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/balanced.svg">
                            <p class="text-center innerTextClor"><b>Both</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <h3 class="text-secondary mb-0"><b>Choose your pace</b></h3>
            <br>

            <div class="row slection ">
                <div class="col-md-4 ">
                    
                        <div  class="caption HighPace text-center">     
                            <p  class="text-center innerTextClor"><b>High paced </b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-4 pr-0 pl-0 ">
                    
                        <div class="caption HighPace text-center">
                            
                            <p class="text-center innerTextClor"><b>Medium</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption HighPace text-center">
                            
                            <p class="text-center innerTextClor"><b>Relaxed</b></p>
                            
                        </div>
                    
                </div>
            </div>
            
            
            
            
            </div>

            <div class="row lastBtn nextbttn fixed">
                <div class="col-md-5 col-sm-12">
                    <a class="btn btn-primary btn-lg " routerLink="/budget" >Next</a>
                </div>
            </div>
            

        </div>

       

    </section>

    
    
    
    
   
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    

    <!--Traveling -->
    <script>
function myFunction() {
var x = document.getElementById("myDIV");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script> 

<app-footer></app-footer>
