<app-header></app-header>

    
    <header class="masthead2 d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <!-- <img class="img-fluid" src="/assets/img/Oval-Blue.svg" width="100%"> -->
            <img class="img-fluid" src="/assets/img/loder.png" width="100%">
            
            <br>
            <a routerLink="/login"><h4  class="mb-1"><b>We're populating your schedule...</b></h4></a>
            
        </div>

    </header>
   
    
    
<app-footer></app-footer>