<app-header></app-header>

    <main class="mainDiv">
        <section class=" topBarWelcomeStart1 ">
            <div class="container">
                <div class="row slectionSpcl ">
                <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                    <a routerLink="/start1" ><img src="/assets/img/left-arrow.png " width="15px"></a>
                </div>
                <div class="col-md-8 backgroundClorActivity pl-0  ">
                    <p class="text-left SubTotal ">Price</p>
                    <b class="FlotRight">150 € &nbsp; </b>
                    <img src="/assets/img/arrow-down-black.svg">&nbsp;&nbsp;
                    
                </div>
               
            </div>
            </div>
        </section>

        <section class="container SignInLogin ">
           
            <div class="row topOne">
                <div class=" col-md-6"><h3 class="text-secondary mb-0"><b>Barcelona</b> </h3></div>
                    <div class="col-md-6 text-right"><i class="fa fa-pencil" aria-hidden="true"></i>Activity detail</div>
            </div>
        </section>
        
           
    <section class="">
        <div class="container">
            <div class="BorderDetail">
                <div class="row">
                    <div class="col-5 pr-0">
                      <div class="leftImg">
                          <img src="/assets/img/Familia.png" width="100%">
                      </div>
                    </div>
                    <div class="col-7 pl-0">
                      <div class="">
                          <p class="fs-4">Sagrada Familia 1  </p>
                          <p class="fs-4">Main & towers  </p>
                          <p class="fs-4">Guided tour  </p>
                          <p class="">English tour: up to 16 people</p>
                      </div>
                    </div>
                    
                  </div>
                  <section class="ActivityDetailsMain">
                      <div class="TextAreaDetail m-auto">
                              <b>Includes:</b>
                              <br>
                              <br>
                          <p class="detailsTxt">Cancelación fácil</p>
                          <p class="detailsTxt">Cancela con hasta 24 horas de antelación</p>
                          <p class="detailsTxt">Precauciones contra la Covid-19</p>
                          <p class="detailsTxt">Se aplican medidas sanitarias y de seguridad especiales.</p>
                          <p class="detailsTxt">Se aceptan cupones digitales o impresos</p>
                          <p class="detailsTxt">Utiliza tu móvil o imprime el cupón</p>
                          <p class="detailsTxt">Duración 1.5 horas</p>
                          <p class="detailsTxt">Comprueba la disponibilidad para ver los horarios </p>
                          <p class="detailsTxt">Entrada sin hacer cola en taquilla</p>
                          <p class="detailsTxt">Confirmación inmediata</p>
                          <p class="detailsTxt">Guía. Inglés, Español, Francés</p>
                          <p class="detailsTxt">Accesible en silla de rueda</p>
                      </div>
                        <div class="Last3Section">
                            <div class="row">
                                <div class="col-4">
                                    <div  class="caption text-center">
                            
                                       
                                        <svg class="svg-blue" xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path d="M24 4c11.046 0 20 8.954 20 20s-8.954 20-20 20S4 35.046 4 24 12.954 4 24 4zm0 2C14.059 6 6 14.059 6 24s8.059 18 18 18 18-8.059 18-18S33.941 6 24 6zm8.293 11.293l1.414 1.414L21.5 30.914l-6.207-6.207 1.414-1.414 4.793 4.792 10.793-10.792z" fill="#225563" fill-rule="evenodd"/></svg>
                                    <p  class="text-center innerTextClor"><b>The bare basics</b></p>
                                </div>
                                </div>
                                <div class="col-4">
                                    <div class="caption text-center">
                                        <!-- <img class="img-fluid" src="/assets/img/gems.svg"> -->
                                        <svg class="svg-blue" xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path d="M36.454 7l7.836 8.956L24 42.653 3.71 15.956 11.546 7h24.908zM17.218 17H7.016L22.22 37.005 17.218 17zm23.763 0h-10.2l-5.003 20.005L40.981 17zm-12.263 0H19.28L24 35.875 28.718 17zM11.94 9.586L7.202 15H16l-4.06-5.414zM24 9.667L20 15h8l-4-5.333zm12.058-.08L32 15h8.796l-4.737-5.413zM33.998 9H26l4 5.333L33.998 9zm-12 0H14l4 5.333L21.998 9z" fill="#225563" fill-rule="evenodd"/></svg>
                                        <p class="text-center innerTextClor"><b>Hidden Gems</b></p>
                                        
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="caption text-center">
                                        <!-- <img class="img-fluid" src="/assets/img/balanced.svg"> -->
                                        <svg class="svg-blue" xmlns="http://www.w3.org/2000/svg" width="48" height="48"><path d="M6 27.958a.992.992 0 01.035-.22l.037-.11 6.01-15.026.058-.113.027-.043a.96.96 0 01.48-.384l.136-.038.127-.02L13 12h10V9.83a3.001 3.001 0 112-.001V12h10c.045 0 .09.003.134.009l.102.02a.97.97 0 01.604.426l.05.087.038.087 6 15c.033.082.055.165.065.248L42 28v1c0 3.257-2.89 5-7 5-4.017 0-6.868-1.664-6.996-4.78L28 29v-1.042a.992.992 0 01.035-.22l.037-.11L33.522 14H25v27h10v2H13v-2h10V14h-8.523l5.451 13.629c.033.082.055.165.065.248L20 28v1c0 3.257-2.89 5-7 5-4.017 0-6.868-1.664-6.996-4.78L6 29v-1.042zM40 29H30c0 1.884 1.85 3 5 3 3.054 0 4.887-1.05 4.995-2.83L40 29zM8 29c0 1.884 1.85 3 5 3 3.054 0 4.887-1.05 4.995-2.83L18 29H8zm27-13.308L30.476 27h9.047L35 15.692zm-22 0L8.476 27h9.047L13 15.692zM24 6a1 1 0 100 2 1 1 0 000-2z" fill="#225563" fill-rule="evenodd"/></svg>
                                        <p class="text-center innerTextClor"><b>Both</b></p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                  </section>

            </div>
           
          </div>
        </section>
    <section class="container m-auto">
                           
        <div class="row text-center  back fixed">
          <div class="col-md-5 col-sm-1">
              <a class="btn btn-primary btn-lg " routerLinkActive="active" routerLink="/confirmation"  >Continue to confirm </a>
          </div>
      </div>
      
</section>

</main>

<app-footer></app-footer>
