<app-header></app-header>

    
    <!-- <header class=" d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center" >
            <img class="img-fluid" src="/assets/img/loder.png" width="100%" />
            <br>
            <a routerLink="/welcome"><h4  class="mb-1"><b class="LoderOne">We're getting up your schedule...</b></h4></a>
            
        </div>

    </header> -->
    <main class="Confirmed" style="background-image: url('/assets/img/Bg-image.svg'); background-size: cover;">
        <section class="container m-auto">
            <div  class="row text-center LoderStyle fixed">
                <div class="col-12 text-center">
                    <img src="/assets/img/LOGO LADV 2-white.svg"/>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div  class="col-md-5 col-sm-12 text-center">
                    <a routerLink="/welcome"><h4  class="mb-1"><b class="LoderOne ">We're populating your itinerary... and building your schedule
                        </b></h4></a>
                </div>
            </div>
        </section>
    </main>
<app-footer></app-footer>