<app-header></app-header>

    <main class="mainDiv">
    <section class="container">
        <div class="backIcon">
            <i class="" aria-hidden="true"></i>
        </div>
        <div class="row headerTrip">
            <div class="col-md-6">
                <h3 class="text-secondary mb-0"><b>My trips</b></h3>
            </div>
            <div class="col-md-6 tripImgtop">
                <div class="tripImg">
                    <img src="/assets/img/camp.png" width="100%">
                </div>
            </div>
            
        </div>
        
        <p><b></b></p>
    </section>
    <section class="">
            <div class="container  ">
                <!-- Page Features-->          
                <div class="row gx-lg-5">
                    <div class="col-lg-6 spacinG ">
                        <div class=" bg-light border-0 h-100">
                            <div class="mycard-body  p-4  pt-0 " style="background-image: url('/assets/img/barc.jpg');background-size: cover;">
                                <div class="col-8 col-lg-12 ">
                                    <div class="Best ">
                                        <p><b class="barc">Barcelona</b></p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                              <span class="sr-only">70% Complete</span>
                                            </div>
                                          </div>
                                        <p>2 adults, 1 teen</p>
                                    </div>
                                </div>
                                
                                <div class="col-4 col-lg-12 ">
                                    <div class="dateclndrup">
                                        <p class="showDate">12.07</p>
                                    </div>
                                    <div class="dateclndrDown">
                                        <p class="showDate">12.07</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  mb-5">
                        <div class=" bg-light border-0 h-100">
                            <div class="mycard-body  p-4  pt-0 " style="background-image: url('/assets/img/mad01.jpg');background-size: cover;" >
                                <div class="col-8 col-lg-12">
                                    <div class="Best ">
                                        <p><b class="barc">Madrid</b></p>
                                        <p>2 adults</p>
                                    </div>
                                </div>
                                <div class="col-4 col-lg-12">
                                    <div class="dateclndrup">
                                        <p class="showDate">12.07</p>
                                        
                                    </div>
                                    <div class="dateclndrDown">
                                        <p class="showDate">12.07</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container ">
            <div class="soclLogin ">
                <div class="m-auto">
                    <div class="row slection ">
                        <div class="col-md-2 ">
                                <!-- <div class="captionopo">
                                    <div class="row  m-auto">
                                            <a class="PrsntgaP Login01 btn btn-primary btn-lg " href="#">Add new Trip</a>
                                    </div>
                                </div> -->
                        </div>
                        <div class="col-md-8 ">
                            <div class="captionopo">
                                <div class="row  m-auto">
                                        <a class="PrsntgaP Login01 btn btn-primary btn-lg " href="#">Add new Trip</a>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-2 ">
                        <!-- <div class="captionopo">
                            <div class="row  m-auto">
                                    <a class="PrsntgaP Login01 btn btn-primary btn-lg " href="#">Add new Trip</a>
                            </div>
                        </div> -->
                </div>
                    </div>
                </div>
            </div>
    </section>
     <section class="container nextbttn ">
                    <div class="row slection m-auto fixedMYtrip">
                        <div class="col-md-4 m-auto ">
                            <img src="/assets/img/map.svg">
                               <p>Map</p> 
                        </div>
                        <div class="col-md-4 m-auto MYTripBtn text-center">
                            <div class="middleTrip text-center">
                                <img src="/assets/img/tripLast.svg" width="100%">
                            </div>
                            
                               <p>My trips</p> 
                        </div>
                        <div class="col-md-4 m-auto ">
                            <img src="/assets/img/tickets.svg">
                               <p>Tickets</p> 
                        </div>
                    </div>
    </section>
</main>
<app-footer></app-footer>
