
<main class="bgColor">
    <section class=" topBarMyProfileTickets ">
        <div class="container">
            <div class="row slectionSpcl ">
                <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                    <a routerLink="/start1" ><img src="/assets/img/arrow left-left.svg " width=""></a>
                </div>
                <div class="col-md-8 backgroundClorBorder pl-0  ">
                    <p class="text-left SubTotal MyProfile">My schedule</p>
                    <p class="SubTotal01">Price</p>
                    <b class="FlotRight">150 € &nbsp; </b>
                    <img src="/assets/img/Close-right-side.svg">&nbsp;&nbsp;
                </div>
            </div>
        </div>
       
    </section>
    <section class="container TopTextMargin">
        <div class="row">
            <div class="col-12 text-center" >
                <p class="TicketStyle" >Tickets</p>
            </div>
        </div>
    </section>

</main>
