<app-header></app-header>
<main class="bgColor">
    <section class=" topBarMyProfileTickets ">
        <div class="container">
            <div class="row slectionSpcl ">
                <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                    <a routerLink="/myprofile" ><img src="/assets/img/arrow left-left.svg " width=""></a>
                </div>
                <div class="col-md-8 backgroundClorBorder pl-0  ">
                    <p class="text-left SubTotal MyProfile">My schedule</p>
                    <p class="SubTotal01">Price</p>
                    <b class="FlotRight">150 € &nbsp; </b>
                    <img src="/assets/img/Close-right-side.svg">&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </section>

    <section class="container TopTextMargin">
        <div class="row">
            <div class="col-12 text-center" >
                <p class="TicketStyle" >Tickets</p>
            </div>
        </div>
    </section>
    <section class="container ">
        <div class="row BlueSection m-auto">
            <div class="col-8 pt-2">
                <p class="FreeInternet">Free internet connection</p>
            </div>  
            <div class="col-4 pt-2">
                <img  src="/assets/img/LADV VERTICAL 2 2.svg">
            </div>
        </div>
        <div class="row BlueSection2 m-auto ">
            <div class="col-12 pt-2">
               
                    <p class="AddresBottomText">Sagrada Familia  1 </p>
                    <p class="AddresBottomText">Main & towers</p>
                    <p class="AddresBottomText">Guided tour</p>
                    <p class="FreeInternet">English tour: up to 16 people</p>
            </div> 
        </div>
    </section>

    <section class="container ">
        <div class="row BlueSection01 m-auto">
            <div class="col-7 pt-2">
                <p class="DateSchedule">Date</p>
                <p class="TimeSchedule01"> Day 1  .  01 Aug 2021</p>
                
            </div>  
            <div class="col-5 pt-2">
                <p class="DateSchedule">Date</p>
                <p class="TimeSchedule">9:45 - 12:00 AM</p>
            </div>
        </div>
        <div class="row BlueSection03 m-auto">
            <div class="col-7 pt-2">
                <p class="DateSchedule">Order #</p>
                <p class="TimeSchedule"> DYH67850098</p>
                
            </div>  
            <div class="col-5 pt-2">
                <p class="DateSchedule">Audio guide</p>
                <p class="TimeSchedule">English</p>
            </div>
        </div>
        <div class="row BlueSection01 m-auto ">
            <div class="col-5 pl-0 pt-2">
                <img class="img-fluid" src="/assets/img/EONN QR 1.svg" >
            </div> 
            <div class="col-7 pt-2">
                    <p class="QRcode">Alexa ashbridge</p>
                    <p class="QRcodeAdult">2 adults + 1 teen</p>
            </div> 
        </div>
    </section>
    <section class="container BTOMmrgn">
        <div class="row">
            <div routerLink="/alltickets" class="col-2">
                <img class="img-fluid" src="/assets/img/arrow left-tickets.svg" >

            </div>
            <div routerLink="/alltickets" class="col-8 text-center m-auto">
                <p  class="MoreTickets ">More tickets</p>

            </div>
            <div routerLink="/alltickets" class="col-2">
                <img class="img-fluid" src="/assets/img/arrow left-ticketsright.svg" >
            </div>
        </div>

    </section>

    <section class="container m-auto">
        <div class="row text-center  back fixed">
            <div  routerLink="/mytrip" class="col-md-4 m-auto">
                <img  src="/assets/img/map.svg">
                <p class="TicketsStyleTexts" >Map</p>
            </div>
            
            <div  routerLink="/mytrip" class="col-md-4 m-auto">
                <img  src="/assets/img/LOGO LADV 1-Tickets.svg">
                <p class="TicketsStyleTexts">My trips</p>
            </div>
            <div  routerLink="/mytrip" class="col-md-4 m-auto MYTripBtn text-center">
                <div  class="middleTrip text-center">
                    <img  src="/assets/img/ticket-white.svg" width="100%">
                </div>
                <p class="TicketsStyleTexts" >Tickets</p>
            </div>
      </div>
</section>
</main>
<app-footer></app-footer>
