<app-header></app-header>


<section class=" topBar ">
    <div class="container">
        <div class="row slection ">
        <div class="col-md-6 col- topLeft">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="col-md-6 col- topRight">
            <p>5<span class="listShow">/8</span></p>
        </div>
    </div>
    </div>
        
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="progress-container">

                    <div class="progress-bar" id="myBar"></div>
                </div>

            </div>

        </div>
        
    </div>
</section>
<section class="content-section" id="portfolio">
        <div class="container ">
            <div class="content-section-heading ">
                <h3 class="text-secondary mb-0"><b>Choose your interests!</b></h3>
                <br>
                <p class="mb-5 least">From the most to the least important.</p>
                <br>
            </div>
            <div class="m-auto">
                <div class="row slection ">
                <div class="col-md-4 ">

                    <div class="" id="myDIV">
                        <div class="Slector">
                                    <b class="TopCorner">1</b>
                        </div>
                    </div>

                        <div onclick="myFunction()" class="caption text-center">
                            
                                <img class="img-fluid" src="/assets/img/museums.svg">
                            <p  class="text-center innerTextClor"><b>Culture and Museums</b></p>
                        </div>
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/music.svg">
                            <p class="text-center innerTextClor"><b>Live music</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/gaudi.svg">
                            <p class="text-center innerTextClor"><b>Gaudi</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <div class="row slection ">
                <div class="col-md-4 ">
                    
                        <div  class="caption  text-center">
                        <img class="img-fluid" src="/assets/img/nature.svg">                                
                            <p  class="text-center innerTextClor"><b>Nature</b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/sports_2.svg">
                            <p class="text-center innerTextClor"><b>Sports</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/fcb.svg">                                
                            <p class="text-center innerTextClor"><b>Barca</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <div class="row slection ">
                <div class="col-md-4 ">
                    
                        <div  class="caption text-center">
                        <img class="img-fluid" src="/assets/img/wellbeing.svg">                                
                            <p  class="text-center innerTextClor"><b>Wellbeing</b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/Nightlife.png">
                            <p class="text-center innerTextClor"><b>Night Life</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/food.svg">
                            <p class="text-center innerTextClor"><b>Local food</b></p>
                            
                        </div>
                    
                </div>
            </div>
            <br>
            <div class="row slection  btomMrgn">
                <div class="col-md-4 ">
                    
                        <div  class="caption text-center"> 
                        <img class="img-fluid" src="/assets/img/shopping.svg">                               
                            <p  class="text-center innerTextClor"><b>Shopping </b></p>
                        </div>
                        
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/romantic.svg">
                            <p class="text-center innerTextClor"><b>Romantic</b></p>
                            
                        </div>
                    
                </div>
                <div class="col-md-4 ">
                    
                        <div class="caption text-center">
                            <img class="img-fluid" src="/assets/img/lgbtbq.svg">
                            <p class="text-center innerTextClor"><b>LGBTQ+</b></p>
                            
                        </div>
                    
                </div>
            </div>
            
            
            
            
            </div>

            <div class="row lastBtn nextbttn fixed">
                <div class="col-md-5 col-sm-12">
                    <a class="btn btn-primary btn-lg " routerLink="/discover">Next</a>
                </div>
            </div>
            

        </div>

       

    </section>

    
    
    
    
   
    <!-- Bootstrap core JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    

    <!--Traveling -->
    <script>
function myFunction() {
var x = document.getElementById("myDIV");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script> 

<app-footer></app-footer>