<app-header></app-header>

    

            <section class=" topBar ">
                <div class="container">
                    <div class="row slection ">
                    <div class="col-md-6 col- topLeft">
                        <a routerLink="/index" ><img src="/assets/img/left-arrow.png "></a>
                    </div>
                    <div class="col-md-6 col- topRight">
                        <p>1<span class="listShow">/8</span></p>
                    </div>
                </div>
                </div>
                    
                
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="progress-container">
            
                                <div class="progress-bar" id="myBar"></div>
                            </div>
            
                        </div>
            
                    </div>
                    
                </div>
            </section>
                

        <section class="content-section" id="portfolio">
                <div class="container ">
                    <div class="content-section-heading ">
                        <h3 class="text-secondary mb-0"><b>What city are you visiting?</b></h3>
                        <br>
                        <p class="mb-5 several">If you're visiting several cities, you'l be able to add them later</p>
                        
                    </div>
                    <div class="row slection perlr ">
                        <div class="col-md-6  ">
                            <a class="portfolio-item" >
                                <div class="caption text-center">
                                    <img class="img-fluid" src="/assets/img/barcelona.svg" alt="..." />
                                    <p class="text-center innerTextClor"><b>Barcelona</b></p>
                                </div>
                                
                            </a>
                        </div>
                        <div class="col-md-6  ">
                            <a class="portfolio-item" >
                                <div class="caption text-center">
                                    <img class="img-fluid" src="/assets/img/madrid.svg" alt="..." />
                                    <p class="text-center innerTextClor"><b>Madrid</b></p>
                                    
                                </div>
                                
                            </a>
                        </div>
                        
                        
                    </div>
                    <div class="row lastBtn nextbttn fixed ">
                        <div class="col-md-5 col-sm-12">
                            <a class="btn btn-primary btn-lg " routerLink="/calendar">Next</a>
                        </div>
                    </div>
                    
    
                </div>
               
    
            </section>



        
<app-footer></app-footer>