<app-header></app-header>

    <main class="mainDiv">
        <section class=" topBarWelcome ">
            <div class="container">
                <div class="row slectionSpcl ">
                <div class="col-md-5 col- topLeft">
                    <a routerLink="/loder2" ><img src="/assets/img/left-arrow.png " width="15px"></a>
                </div>
                <div class="col-md-2 col-  text-center">
                    <img src="/assets/img/LOCALADVISOR-black.svg ">
                </div>
                <div class="col-md-5 col- topRight">
                    
                </div>
            </div>
            </div>
        </section>
    <section class="container SignInLogin">
        <form>
  <div class="form-group">
    <h3 class="text-secondary mb-0"><b>Log in</b></h3>
    <label class="emailSignIn" for="exampleInputEmail1">E-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Johndoe@mail.com">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label class="emailSignIn" for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********">
  </div>
</form>
<br>
<section>
                <div class="lastLogin text-center">
                   <a href="#"> <p class="LastTEXt">Forgot password?</p></a>
                    
                </div>
            </section>
 <br>

                <div class="soclLogin ">
                
                <div class="m-auto">
                    <div class="row slection ">
                    <div class="col-md-4 col- ">
                        
                            <div class="captiondf NewLogin">
                                <div class="row  ">
                                        <a class=" Login01 btn btn-primary btn-lg " routerLinkActive="active" routerLink="/start "> Log in</a>
                                </div>
                            </div>
                            
                        
                    </div>
                    <br>
                    <div class="col-md-4 col- ">
                        
                            <div class="captiondf NewLogin">
                                <div class="row  ">
                                        <a class=" Login02 btn btn-primary btn-lg " routerLinkActive="active" routerLink="/start"><img src="https://img.icons8.com/material-rounded/24/000000/mac-os.png"/> &nbsp;&nbsp;&nbsp;&nbsp;Continue with </a>
                                </div>
                            </div>
                        
                    </div>
                    <br>
                    <div class="col-md-4 col- ">
                        
                            <div class="captiondf ">
                                <div class="row  ">
                                        <a class=" Login03 btn btn-primary btn-lg " routerLinkActive="active" routerLink="/start"><img src="https://img.icons8.com/color/24/000000/google-logo.png"/>&nbsp;&nbsp;&nbsp;&nbsp; Continue with </a>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <br>
                </div>
            </div>
        
    </section>
    <section>
                <div class="lastLogin text-center m-auto">
                   <a href="Start.html"> <p class="LastTEXt">Don't have an account?<br><b> Sign up with email</b></p></a>
                    
                </div>
            </section>
   


</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="">
		
	</script>

<app-footer></app-footer>