<app-header></app-header>


    <main class="mainDiv">
    <section class="container">
        <div class="backIcon">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
    </section>
    <section class="container">
        <form>
  <div class="form-group col-10">
    <h3 class="text-secondary mb-0"><b>Sign up</b></h3>
    <label class="phoneDetail" for="exampleInputEmail1">Phone</label>
    <div class="container">
        <div class="phoneNo row">
        <div class="col-1">
            <input type="number" class="form-control shotBox" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+34">
        </div>
        <div class="col-9">
            <input type="number" class="form-control LongBox " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="000 000 000">
        </div>
        
    </div>
    </div>
    
    
    <small id="emailHelp" class="form-text text-muted">Some of the tours you book will required your phone number so they can contact you</small>
  </div>
  <div class="form-group">
    
    <label class="phoneDetail" for="exampleInputEmail1">your city of origin</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="barcelona">
    
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> I want to subscribe to the Local Advisor bulletin to find incredible offers and information about travel </label>
  </div>
  <div class="form-group form-check ">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> I declare to having read and accepted the terms and condition of Local Advisor and its privacy policy.   </label>
  </div>
</form>
        
    </section>
    
    <section class="container m-auto">
                           
        <div class="row  back fixed">
          <div class="col-md-5 col-sm-12">
              <a class="btn btn-primary btn-lg " routerLink="/login"  >Sign up</a>
          </div>
      </div>
      
</section>



</main>


<app-footer></app-footer>