
<app-header></app-header>

<main class="mainDiv">
    <section class=" topBarWelcomePrice ">
        <div class="container">
            <div class="row slectionSpcl ">
            <div class="col-md-4  topLeft " style="width: 12%;margin: auto;" >
                <a routerLink="/start" ></a>
            </div>
            <div class="col-md-8 backgroundClorNew pl-0  ">
                <p class="text-left SubTotal ">My schedule</p>
                <b class="FlotRight">2550 € &nbsp; </b>
                <img src="/assets/img/Vector-close-black.svg">&nbsp;&nbsp;
                
            </div>
           
        </div>
        </div>
    </section>
    <section class="container SignInLogin ">
        <div class="row topOne">
            <div class=" col-md-6 text-center"><h3 class="text-secondary mb-0"><b class="">Tickets</b> </h3></div>
                <div class="col-md-6 text-right"><img _ngcontent-nmd-c125="" src="/assets/img/share_icon.svg"></div>
               
        </div>
    </section>
    <section>
        <div _ngcontent-syy-c121="" class="container ">
            <div _ngcontent-syy-c121="" class="row">
                <div _ngcontent-syy-c121="" class="col-md-12">
                    <nav _ngcontent-syy-c121="" aria-label="...">
                        <ul _ngcontent-syy-c121="" class="pagination pagination-lg">
                            <li _ngcontent-syy-c121="" class="page-item disabled">
                                <a _ngcontent-syy-c121="" href="#" tabindex="-1" class="page-link">Day&nbsp;1</a>
                            </li>
                            <li _ngcontent-syy-c121="" class="page-item">
                                <a _ngcontent-syy-c121="" href="#" class="page-link">2</a>
                            </li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">3</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">4</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">5</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">6</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">7</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">8</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">9</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">10</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">11</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">12</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">13</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">14</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">15</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">16</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">17</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">18</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">19</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">20</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">21</a></li>
                                <li _ngcontent-syy-c121="" class="page-item"><a _ngcontent-syy-c121="" href="#" class="page-link">22</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </section>

<section _ngcontent-nmd-c125="" class="container">
    <div _ngcontent-nmd-c125="" class="row">
        <div _ngcontent-nmd-c125="" class="col-md-12 text-center">
            <img _ngcontent-nmd-c125="" src="/assets/img/arrow-up.svg"></div></div>
</section>
<section class="container ">
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Sagrada Familia  1</p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">150 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
    <br>
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Visto to camp Nou</p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">200 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
    <br>
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Sagrada Familia  2 </p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">180 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
    <br>
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Sagrada Familia  2</p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">230 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
    <br>
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Sagrada Familia  3</p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">250 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
    <br>
    <div class="row BorderTopBotm">
        
        <div class="col-8">
            <p class="SagarStyle01">Sagrada Familia  4</p>
            <p class="SagarStyle">2 adults + 1 teen</p>
            <p class="SagarStyle02"> Day 1  .  01 aug 21</p>
        </div>
        <div class="col-4">
            <p class="EuroStyle">198 €</p>
            <button type="button" class="EditBtnClorDetail btn btn-light">Remove</button>
        </div>
    </div>
</section>

    <!-- <section class="container nextbttn fixed  ">
        <div class="soclLogin  ">
            <div class="m-auto">
                <div class="row slection ">
                    <div class="col-md-4 col- ">
                            <div class="captionlkj">
                                <div class="row  m-auto">
                                        <a id="Confirmation" class="YellowRedyConfrm  btn btn-primary btn-lg "routerLinkActive="active" routerLink="/alltickets" >Ready to confirm</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="container m-auto">
                           
        <div class="row text-center backShadow back fixed">
            <div  routerLink="/mytrip" class="col-md-4 m-auto">
                <img  src="/assets/img/map.svg">
                <p class="TicketsStyleTexts" >Map</p>
            </div>
            
            <div  routerLink="/mytrip" class="col-md-4 m-auto">
                <img  src="/assets/img/LOGO LADV 1-Tickets.svg">
                <p class="TicketsStyleTexts">My trips</p>
            </div>
            <div  routerLink="/mytrip" class="col-md-4 m-auto MYTripBtn text-center">
                <div  class="middleTrip text-center">
                    <img  src="/assets/img/ticket-white.svg" width="100%">
                </div>
                <p class="TicketsStyleTexts" >Tickets</p>
            </div>
      </div>
</section>
</main>
<app-footer></app-footer>