<app-header></app-header>

<main class="Confirmed" style="background-image: url('/assets/img/Bg-image.svg'); background-size: cover;"    >
    <section class="container">
        <div class="row">
            <div class="col-12 ConfirmedTextmrgn text-center">
                <img src="/assets/img/tickets-local.svg"/>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 ">
                <p class="Enjoytext">Confirmed. Enjoy!</p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/img/LOGO VERTICAL 1.svg"/>
            </div>
        </div>
    </section>
    <section class="container m-auto">
        <div  class="row text-center ConfirmedPaymntstyle fixed">
            <div  class="col-md-5 col-sm-12">
                <a  routerlinkactive="active" routerlink="/userprofile" class="btn btn-primary btn-lg" ng-reflect-router-link="/userprofile" ng-reflect-router-link-active="active" href="#/userprofile">Your profile & schedule </a>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>